<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>The Shadowboxers</title>
  </head>
  <body>
    <h1>The Shadowboxers</h1>
    <nav>
      <a href = "/">Home</a>
      <a href = "/about">About</a>
      <a href = "/discography">Discography</a>
      <a href = "/tour">Tour</a>
    </nav>
    <img src = "http://bloximages.newyork1.vip.townnews.com/redandblack.com/content/tncms/assets/v3/editorial/7/a6/7a664364-370b-11e3-9ba6-001a4bcf6878/525fa8b2e7aea.image.jpg">
    <h2>About</h2>
    <p>
    The Atlanta-based Shadowboxers have a passion for captivating lyrics, tight harmonies, and soulful vocals. Founding members Scott Schwartz, Matt Lipkins, and Adam Hoffman experienced an almost-instantaneous musical compatibility when they first started jamming. They’ve forged a cohesive sound based on a shared reverence for the strong, taut harmonies of Simon & Garfunkel, D’Angelo, and The Beatles. This young band’s unified sound has an R&B-soaked, smart perspective replete with an abundance of vocal talent and songwriting skill. In the short time they’ve been playing together, The Shadowboxers have found a collective voice that is intelligent, soulful, and catchy.
    </p>
    <footer>
      <small>(c)2014 <strong>Liza Carter</strong></small>
    </footer>
  </body>
</html>
