<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>The Shadowboxers</title>
  </head>
  <body>
    <h1>The Shadowboxers</h1>
    <nav>
      <a href = "/">Home</a>
      <a href = "/about">About</a>
      <a href = "/discography">Discography</a>
      <a href = "/tour">Tour</a>
    </nav>
    <h2>Discography</h2>
    <img src = "http://ecx.images-amazon.com/images/I/61ESMfV2h1L.jpg">
    <h3>Red Room(2013)</h3>
    <p>Track Listing</p>
    <ol>
      <li>You Are All I Need </Li>
      <li>Sidewalk </Li>
      <li>Fixer </Li>
      <li>Love On The Side </Li>
      <li>Vienna </Li>
      <li>Like All the Rest </Li>
      <li>Bad Guy </Li>
      <li>Ride Home </Li>
      <li>I Won't Give Up On You </Li>
      <li>On the Move </Li>
      <li>Finish What I Start </Li>
      <li>From Around Here </Li>
      <li>When Can I Be </Li>
      <li>Lovers in Rome </Li>
    </ol>
    <a href = "http://www.amazon.com/Red-Room-The-Shadowboxers/dp/B00AOCDE52/ref=sr_1_1?ie=UTF8&qid=1406612088&sr=8-1&keywords=the+shadowboxers+red+room">Purchase our album on Amazon.</a>
    <footer>
      <small>(c)2014 <strong>Liza Carter</strong></small>
    </footer>
  </body>
</html>
