<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>The Shadowboxers</title>
    <link rel = "stylesheet" href = "/css/style.css">
  </head>
  <body>
  <center><h1>The Shadowboxers</h1></center>
  <center><nav>
      <a href = "/">Home</a>
      <a href = "/about">About</a>
      <a href = "/discography">Discography</a>
      <a href = "/tour">Tour</a>
  </nav></center>
    <center><img src = "http://www.theshadowboxers.com/wp-content/themes/fusion/lib/scripts/timthumb/thumb.php?src=http://www.theshadowboxers.com/wp-content/uploads/2014/05/Web-Banner-3.jpg&w=980&h=470&zc=1&q=100"></center>
    <p>Check out our cover of Justin Timberlake's "Pusher Love Girl"</p>
    <center><iframe width="560" height="315" src="//www.youtube.com/embed/BLHkDBrlUIs" frameborder="0" allowfullscreen></iframe></center>
    <footer>
      <small>(c)2014 <strong>Liza Carter</strong></small>
    </footer>
  </body>
</html>
