<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>The Shadowboxers</title>
  </head>
  <body>
    <h1>The Shadowboxers</h1>
    <nav>
      <a href = "/">Home</a>
      <a href = "/about">About</a>
      <a href = "/discography">Discography</a>
      <a href = "/tour">Tour</a>
    </nav>
    <h2>Tour</h2>
    <img src = "http://assets.nydailynews.com/polopoly_fs/1.1191292!/img/httpImage/image.jpg_gen/derivatives/article_970/shadowboxers-color-0006-crop-web.jpg ">
    <p>
      Check out our upcoming tour dates below:
    </p>
    <ul>
      <li>July 29 - Eddie's Attic (Atlanta, GA)</li>
      <li>August 07 - Rainbow Island (Sea Island, GA)</li>
      <li>September 07 - ParkLife (Atlanta, GA)</li>
      <li>October 04 - Center Stage (Atlanta, GA)</li>
      <li>October 05 - 3rd and Lindsley (Nashville, TN)</li>
    </ul>

    <footer>
      <small>(c)2014 <strong>Liza Carter</strong></small>
    </footer>
  </body>
</html>
